body {
    margin: 0;
    font-family: 'Muli', sans-serif;
  }


  .header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC944B;
    color: white;
    height: 300px;    
    top: 0px;
    width: 100%;
  }
  .header__img {
    width: 250px;
  }


  .pedido {
      background:linear-gradient(#CC944B, #6B0504);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0px 30px;
      min-height: calc(100vh - 200px);

  }

  .pedido__container{
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid white;
      border-radius: 40px;
      color: white;
      padding: 20px 32px 40px;
    
      width: 860px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      /*box-shadow: 2px 2px 7px white;*/
  }



 /**==============================
=========DATOS==============
=================================**/




  .pedido__container--datos{
      display: flex;
      flex-direction: column;
  }

  .pedido__container--datos label{
      font-size: 14px;
  }

  .pedido__container--datos > input
   {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    margin-top: 20px;
    padding: 0px 20px;
   
    outline: none;
  }

  ::placeholder{
    color: white;
  }

  .pedido__container--datos > select {
    background-color: transparent;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 30px;
    color: white;
    text-decoration-color: silver;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    margin-top: 30px;
    padding: 0px 20px;
    margin-bottom: 50px;
    outline: none;
  }

.tooltip__validateIsEmpty{
  display: none;
}

.tooltip__validateIsNumeric{
  display: none;
}

 /**==============================
=========PEDIDO==============
=================================**/

  .pedido__wrap {
  	border: 2px solid white;
    border-radius: 10px;
    padding: 0px;
  }

  .pedido__wrap > ul{
    cursor: pointer;
    width: 95%;
  	background: #7C1D10;
  	list-style: none;
  	display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  	border-bottom: 2px solid white;

  }

  .pedido__wrap li a {
  	color: silver;
  	text-decoration: none;
  	font-size: 19px;
    font-weight: bold;
  	display: block;
    padding: 10px 50px 10px 10px; 
  	text-align: center;
    letter-spacing: 1px;
  	
  }

  .pedido__wrap li:hover {
  	background-color: white;
  	
  }

  .pedido__wrap li a:hover {
  	color: black;
  }

   /**==============================
=========SECCIONES==============
=================================**/

 .pedido__wrap--headers {
    display: flex;
    justify-content:space-around;
    
 }
 .pedido__wrap--headers label {
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 1px;
 }


  .pedido__wrap--secciones{
     display: flex;
     align-items: center;
     flex-direction: column;
  }

  .pedido__wrap--secciones > section{
    display: flex;
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
    flex-direction: column;
  }

  .pedido__wrap--secciones > section > div{
    margin-bottom: 10px;
    background-color: #8C7E5D;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 99%;

  }

  .pedido__wrap--secciones img {
    width: 120px;
    height: 90px;
    margin: 10px;
    border-radius: 5px;
  }

  .pedido__wrap--secciones label{
     flex-wrap: wrap;
     align-items: center;
     width: 300px;
     margin-left:-40px;
     font-weight: bold;
     letter-spacing: 1px;
         
   }
  .pedido__wrap--secciones p{
      max-width: 20px;
    }


  .pedido__wrap--secciones input {
    
    background-color: white;
    color: gray;
    height: 27px; 
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: -20px;
    text-align: center;
  }

  .pedido__wrap--secciones span {
      margin-right: 30px;
      font-size: 20px;
      width: 50px;

   }

  .producto__subtotal{
    margin-left: -40px;
  }

   /**==============================
=========FORMAS PAGO==============
=================================**/
  .pago{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .pago__forma{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 40px 30px;    
    font-size: 20px;
  }
  .pago__forma input{
    margin-top: 30px;

  }

  .pago__detalle {
    justify-content: center;
    align-items: center;
    background-color: #8C7E5D;
    height: 250px;
    width: 350px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
  }



  /**==============================
=========BUTTON==============
=================================**/

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button__enviar{
    
    background-color: #6B9F3F;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    width: 250px;
    letter-spacing: 1px;
    margin: 20px;
  }










/**==============================
=========FOOTER==============
=================================**/


  .footer{
    background-color: #6B0504;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    color: white;
  }

  .footer p{
    text-align: center;
    justify-content: center;
  }
  .footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 10px;
    text-decoration: none;
  }
  .footer a:hover{
    text-decoration: underline;
  }
  


/**==============================
==========WHATSAPP===============
=================================**/

 #whatsapp{
  	position: fixed;
 	z-index: 99999;
  	padding: 10px 10px;
  	background: white;
  	border-radius: 25px 0px 0px 25px;
  	box-shadow: -1px 1px silver;
  	min-width: 55px;
  	top: 20vh;
  	right: 0;
  	max-width: 8rem;
  	background-color: green;
}

#whatsapp img {
  width: 55px;
  display: block;
  margin: 5px auto;
  
}

.animated.delay-2500ms {
  -webkit-animation-delay: 2500ms;
  animation-delay: 2500ms;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
span.peque{
      display:none;
}



.total {
  margin: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
}
.total span {
  margin-left: 10px;
}







/**==============================
==========PANTALLAS MÁS PEQUEÑAS===============
=================================**/

@media screen and (max-width: 700px) {
	span.grande{
	    display:none;
	}
	span.peque{
	    display:inline;
	}
	#whatsapp img {
	    width: 30px;
	}
	#whatsapp {
	    padding: 2px 0px;
	    background-color: green;
	}
	.pedido__container{
	    background-color: transparent;
	    border:none;
	    padding: 0px;
	    width: 100%;
    }
    .footer{
      	align-items: flex-start;
        justify-content: flex-start;
      	flex-direction: column;
    }

  .pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

  .pago__forma{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    align-items: flex-start;
  }

  .pago__forma{
    align-items:flex-start;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 30px;   
    
  }
  
  .pago__detalle {
    background-color: #8C7E5D;
    height: 250px;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
  }


    .header {    
	    width: 100%;
	    height: 130px;
 	}

    .header__img {
    	width:120px;
 	}

	.pedido__wrap {
    width: 100%;
    
	}

	.pedido__wrap > ul{
    
    width:85%;
    
		border-radius: 10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white ;
    margin-left: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
	}

	.pedido__wrap li a {
		color: white;
		text-decoration: none;
    font-size: 17px;
    border-left: 1px solid white ;
    flex: auto;
    justify-content: flex-start;
		padding: 15px 10px;
    text-align: center;
    border-bottom: 2px solid white;
    border-right: 1px solid white; 
    
  }
  

   .pedido__wrap--headers {
    display: flex;
    justify-content:space-around; 
   }

   .pedido__wrap--headers label {
      color: transparent;
      margin-top: -20px;
   }


  .pedido__wrap--secciones{
      display: flex;
      justify-content: center;
    }

    .pedido__wrap--secciones > section{
      display: flex;
      font-size: 16px;
      margin-top: 5px;
      padding: 10px 10px;
      width: 90%;
      flex-direction: column;

    }


  	.pedido__wrap--secciones > section > div{
      margin-bottom: 10px;
      background-color: #7E745C;
      border: 1px solid white;
      color: white;
      display: flex;
      flex-wrap: wrap;  
      height: 210px;
      width: 100%;
      text-align: center;

    }

    .pedido__wrap--secciones img {
      width: 250px;
      height: 100px;

    }

    .pedido__wrap--secciones label{
      flex-wrap: wrap;
      margin-left: 0px;
           
     }

    
    .pedido__wrap--secciones input {
     margin-left: 20px;
    }

    .pedido__wrap--secciones span {
        padding: 0px;

     }

    .producto__subtotal{
      margin-left: 0px;
    }


  	.pedido__wrap li a:hover {
  		text-decoration: underline;
  		color: black;
      background-color: white;
  	}

}



